<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="aj.js"></script>
    <link rel="stylesheet" href="aj.css">
    <title>AngularJs</title>
</head>

<body ng-controller="myController">
    <!-- <div>
        10+20= {{10+20}} {{1==6}}
    </div> -->
    <!-- <div>
        {{{name:'hema',age:'23'}.name}}
        {{['hema','seema','chandana'][2]}}
        {{employee}} or
        <br>
        firstName: {{employee.firstName}},<br>
        lastName:{{employee.lastName}},<br>
        Gender:{{employee.gender}} <br>
        profile pic: <img src="{{employee.profilepic}}" alt="image" style="height: 100px; width: 200px;"><br>
        <input type="text" ng-model="greeting">
        <br><br><br>
        {{message}} <br><br>
        {{greeting}}
    </div> -->
    <!-- <div>
        <table>
            <tr>
                <td>firstname</td>
                <td><input type="text" ng-model="employee.firstName"></td>
            </tr>
            <tr>
                <td>lastname</td>
                <td><input type="text" ng-model="employee.lastName"></td>
            </tr>
            <tr>
                <td>gender</td>
                <td><input type="text" ng-model="employee.gender"></td>
            </tr>
        </table>
        <br>br
        <table>
            <tr>
                <td>firstname:  </td>
                <td>{{employee.firstName}}</td>
            </tr>
            <tr>
                <td>lastname:   </td>
                <td>{{employee.lastName}}</td>
            </tr>
            <tr>
                <td>gender: </td>
                <td>{{employee.gender}}</td>
            </tr>
        </table>
    </div> -->
    <!-- <div>
        <table>
            <thead>
                <tr>
                    <th>firstName</th>
                    <th>lastname</th>
                    <th>gender</th>
                    <th>salary</th>
                </tr>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
            </thead>
        </table>
    </div> -->
    <br><br><br>
    <div>
        <ul>
            <li ng-repeat="country in countries" ng-init="parentIndex=$index">
                {{country.name}} - index={{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{city.name}}
                        <!-- -parent index={{$parent.$index}}    -->
                        Parent Index:- {{parentIndex}}
                        --index={{$index}}
                    </li>
                </ul>

            </li>
        </ul>
    </div>
    <!-- <div>
        <table>
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Likes </th>
                    <th>Dislikes </th>
                    <th>Likes/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">

                    <td>{{technology.name}}</td>
                    <td>{{technology.likes}}</td>
                    <td>{{technology.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)">
                        <input type="button" value="Dislike" ng-click="incrementDislikes(technology)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <!-- <br><br><br> -->
    <div>Rows to display:
        <input type="number" step="1" min="0" max="8" ng-model="rowLimit"> <br><br>
        <table>
            <thead>
                <tr>
                    <th>firstName</th>
                    <th>lastname</th>
                    <th>gender</th>
                    <th>salary</th>
                    <th>salary(after format)</th>
                    <th>DOB</th>
                </tr>
            <tbody>
                <!-- <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:'firstName':false"> -->
                <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:'-firstName'">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | currency:"₹":1}}</td>
                    <td>{{employee.salary |number:2 }}</td>
                    <td>{{employee.dateOfBirth |date:"dd/MM/yyyy" }}</td>
                </tr>
            </tbody>
            </thead>
        </table>
    </div> 
    <!-- <br><br><br> -->
    <!-- <div>
        Order By: <select ng-model="sortColumn">
            <option value="firstName">Name ASC</option>
            <option value="lastName">LastName ASC</option>
            <option value="-salary">Salary DESC</option>
            <option value="dateOfBirth">DOB ASC</option>
        </select>
        <table>
            <thead>
                <tr>
                    <th>firstName</th>
                    <th>lastname</th>
                    <th>gender</th>
                    <th>salary</th>
                    <th>salary(after format)</th>
                    <th>DOB</th>
                </tr>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy:sortColumn">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | currency:"₹":1}}</td>
                    <td>{{employee.salary |number:2 }}</td>
                    <td>{{employee.dateOfBirth |date:"dd/MM/yyyy" }}</td>
                </tr>
            </tbody>
            </thead>
        </table>
    </div> -->
    <br><br>
    <div>
        Search:  <input type="text" placeholder="Search employees" ng-model="searchText"> <br><br>
        <input type="checkbox" ng-model="hideSalary">Hide Salary
        <table>
            <thead>
                <tr>
                    <th>firstName</th>
                    <th>lastname</th>
                    <th>gender</th>
                    <th ng-hide="hideSalary">salary</th>
                    <th ng-hide="hideSalary">salary(after format)</th>
                    <th>DOB</th>
                    <th>city</th>
                </tr>
            <tbody>
                <tr ng-repeat=  "employee in employees | filter:searchText">
                    <td>{{employee.firstName | uppercase}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td ng-hide="hideSalary">{{employee.salary | currency:"₹":1}}</td>
                    <td ng-hide="hideSalary">{{employee.salary |number:2 }}</td>
                    <td>{{employee.dateOfBirth |date:"dd/MM/yyyy" }}</td>
                    <td>{{employee.city}}</td>
                </tr>
            </tbody>
            </thead>
        </table>
        <label>Just checking</label>
    </div>
</body>

</html>