<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Connecting AngularJs with Springboot</title>
    <link rel="stylesheet" href="ajconnectsb.css">
</head>

<body ng-controller="myController">
    <h1>data</h1>
    <button ng-click="toggleForm1()">add employee</button><br><br>
    <!-- Search: <input type="text"><br><br> -->
    <div>
        <form name="empForm" ng-submit="addEmp(emp)" novalidate ng-show="addEmpForm">
            <label>
                Name:
                <input type="text" name="empName" ng-model="emp.empname" ng-required="empForm.$visible">
            </label><br><br>
            <label>
                Location:
                <input type="text" name="empLocation" ng-model="emp.location" ng-required="empForm.$visible">
            </label><br><br>
            <label>
                Mobile No:
                <input type="number" name="empMobile" ng-model="emp.mobileno" ng-required="empForm.$visible">
            </label><br><br>
            <label>
                Designation:
                <input type="text" name="empDesignation" ng-model="emp.designation" ng-required="empForm.$visible">
            </label><br><br>
            <button type="submit" ng-click="toggleForm1()">Submit</button>
        </form>

    </div>
    <div>
        <form name="updateEmpForm" ng-submit="updateEmp(selectedEmp)" ng-show="myVar" id="myForm">
            <label>
                Id:
                <input type="number" name="empId" ng-model="selectedEmp.id" ng-required="updateEmpForm.$visible">
            </label>
            <label>
                Name:
                <input type="text" name="empName" ng-model="selectedEmp.empname" ng-required="updateEmpForm.$visible">
            </label> <br><br>
            <label>
                Location:
                <input type="text" name="empLocation" ng-model="selectedEmp.location"
                    ng-required="updateEmpForm.$visible">
            </label> <br><br>
            <label>
                Mobile No:
                <input type="number" name="empMobile" ng-model="selectedEmp.mobileno"
                    ng-required="updateEmpForm.$visible">
            </label> <br><br>
            <label>
                Designation:
                <input type="text" name="empDesignation" ng-model="selectedEmp.designation"
                    ng-required="updateEmpForm.$visible">
            </label> <br><br>
            <button type="submit" id="submitBtn">Update</button>

        </form>
    </div>

    <br><br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Phone No</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees">
                <td>{{emp.id}}</td>
                <td>{{emp.empname}}</td>
                <td>{{emp.location}}</td>
                <td>{{emp.mobileno}}</td>
                <td>{{emp.designation}}</td>
                <td>
                    <button ng-click="toggleForm2(emp)">update</button>
                    <button ng-click="deleteclick(emp.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table><br>
    ===============================================================
</body>

<script src="ajconnectsb.js"></script>
</body>

</html>