<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <title>EventListeners</title>
    <style>
        .header {
            width: 100vw;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #BDBDBD;
        }
        .footer{
            width: 100vw;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #BDBDBD;
            position: absolute;
            bottom: 0;
        }
    </style>
</head>

<body ng-app="someModule1">
    <div class="header">
        <a href="#/!" style=" padding-right: 30px; text-decoration: none; font-weight: bold;">Home</a>
        <a href="#!firstTemp" style=" padding-right: 30px; text-decoration: none; font-weight: bold;">first Template</a>
        <a href="#!second" style="text-decoration: none; font-weight: bold;">second Template</a>
        <a href="#!third" style="text-decoration: none; font-weight: bold;"></a>
    </div>
    <div ng-controller="myController1" class="centered">
        {{message}} <br><br><br>
        <form name="myForm" ng-submit="add(myForm)" novalidate>
            <label>
                NAME:
                <span class="required">*</span>
                <input type="text" ng-model="user" name="user" required>
                <span ng-show="myForm.user.$touched && myForm.user.$invalid" style="color: red;">
                    <span ng-show="myForm.user.$error.required">name is required</span>
                </span>
            </label>
            <br><br>

            <label>
                Email: <input type="email" ng-model="email" name="email" required>
                <span
                    ng-show="myForm.email.$dirty && myForm.email.$invalid || myForm.email.$touched && myForm.email.$invalid"
                    style="color: red;">
                    <span ng-show="myForm.email.$error.required">email is required</span>
                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                </span>
            </label>
            <br><br>
            <label>
                Number:
                <input type="text" ng-model="number" name="number" required pattern="\d*">
                <span ng-show="myForm.number.$touched && myForm.number.$invalid" style="color: red;">
                    <span ng-show="myForm.number.$error.required">number is required</span>
                </span>
            </label>
            <br><br>
            <label>Select Gender:
                <label><input type="radio" ng-model="selectedRadio" value="male"> Male</label>
                <label><input type="radio" ng-model="selectedRadio" value="female"> Female</label>
            </label>
            <br><br>

            <select name="selectcourse" ng-model="selectedCourse" ng-options="tech for tech in technology">
                <option value="">Select course</option>
            </select>
            <br><br>
            <label>
                <button type="reset"> clear</button>
                <button type="submit"
                    ng-disabled="myForm.user.$untouched && myForm.email.$untouched || myForm.user.$touched && myForm.user.$invalid ||
            myForm.email.$touched && myForm.email.$invalid || myForm.number.$touched && myForm.number.$invalid || !isRadioSelected() || !isDropDownSelected()">submit</button>
            </label>
            <p>selected gender:{{selectedRadio}}</p>
        </form>
    </div>
    <div ng-view></div>
    <div class="footer">
        @footer 2023
    </div>
    <script>
        var app = angular.module('someModule1', ["ngRoute"]);
        app.controller("myController1", function ($scope) {
            $scope.isRadioSelected = function () {
                return angular.isDefined($scope.selectedRadio) && $scope.selectedRadio !== null;
            };

            $scope.message = "this is a sample message indicating this is main page"
            $scope.add = function (form) {
                console.log(form);
                console.log("event succesfull");
            }
            $scope.value = '';
            $scope.technology = ["java", ".net", "devops", "powerbi"];
            $scope.isDropDownSelected = function () {
                return angular.isDefined($scope.selectedCourse) && $scope.selectedCourse !== null;
            }
        });
        app.config(function ($routeProvider) {
            $routeProvider
                .when("/firstTemp", {
                    templateUrl: "firstTemp.html"
                })
                .when("/second", {
                    templateUrl: "secondTemp.html"
                })
        })
    </script>
</body>

</html>