
html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .header {
      height: 100px;
      background-color: #ccc;
      text-align:center;
    }

    .leftmenu {
      height: calc(100% - 200px);
      /* subtract header and footer heights */
      background-color: #f1f1f1;
      float: left;
      width: 20%;
      text-align:center;
    }

    .mainContent {
      height: calc(100% - 200px);
      /* subtract header and footer heights */
      background-color: #fff;
      float: left;
      width: 80%;
    }

    .footer {
      height: 100px;
      background-color: #ccc;
      text-align:center;
      clear: both;
      display: flex;
    justify-content: center;
    /* 
    clear: both is a CSS property that is often used to fix layout issues caused by floated elements. When an element is floated, it is taken out of the normal flow of 
    the document and can cause other elements to wrap around it. Using clear: both on an element instructs it to clear any floated elements that appear above it, and then begin on a new line.
    In the context of your example, clear: both is used on the footer element to ensure that it appears below the mainContent element and any floated elements it contains.*/
    }
    a{
        display:block;
        padding:5px;
    } 